body {
    font-family: 'Roboto', sans-serif;;
    padding: 0;
    margin: 0;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
    height: 80px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header #logo {
    opacity: 0.8;
    margin: 25px;
}

header #connection-status {
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 80px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

header #connection-status--led {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 10px;
    border: 2px solid transparent;
}

header #connection-status--led.green {
    border: 2px solid rgba(36, 219, 96, 0.8);
}

header #connection-status--led.yellow {
    border: 2px solid rgba(219, 204, 36, 0.8);
}

.panel {
    position: absolute;
}

.panel .wrapper {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.panel .wrapper h3 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.panel .wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.circle-graph-text {
    font-size: 50px !important;
    font-weight: 100;
    line-height: normal !important;
    height: auto !important;
    top: 50% !important;
    margin-top: -40px !important;
    color: rgba(255, 255, 255, 0.8);
}

.circle-graph-text span {
    font-size: 16px !important;
    display: block;
    color: rgba(36, 219, 214, 0.8);
}

/* PANELS */
#speed-panel.panel {
    left: 0;
    top: 80px;
    bottom: 300px;
    right: 67%;
}

#steering-panel.panel {
    left: 33%;
    top: 80px;
    bottom: 300px;
    right: 33%;
}

#brake-panel.panel {
    left: 67%;
    top: 80px;
    bottom: 300px;
    right: 0;
}

#speed-time-panel.panel {
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
}